
.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  background-color: grey;
  margin: 0px;
  border: 0.1px solid #eee;
  width: 12px;
  height: 12px;
  border-radius: 1px;
}


