
.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  background-color: grey;
  margin: 1px;
  border: 0.1px solid #ddd;
  width: 8px;
  height: 8px;
  // border-radius: 1px;
}


