
.frame-container {
	display: -webkit-flex;
	display: flex;	
	flex-direction: row;
	flex-wrap: wrap;
}

.frame {
	margin: 2px;
	cursor: pointer;
	border: 3px solid transparent;
	// border-color: 
}

.active {
	border-color: #444;
}

