<div class="container-row">
  <app-grid class="item" [currentFrame]="currentFrame"></app-grid>
  <div class="gap-width"></div>
  <div class="container-col">
    <app-color class="color"></app-color>
    <div class="gap-height"></div>
    <div class="container-row item">
      <app-frame-add [lightMessage]="lightMessage" [currentFrame]="currentFrame" (selectFrame)="selectFrame($event)"></app-frame-add>
      <app-frame-delete [lightMessage]="lightMessage" [currentFrame]="currentFrame" (selectFrame)="selectFrame($event)"></app-frame-delete>
    </div>
    <div class="btn" (click)="saveLightMessage()"><i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i></div>
  </div>
</div>
<app-frame-control [lightMessage]="lightMessage" [currentFrame]="currentFrame" (selectFrame)="selectFrame($event)"></app-frame-control>